
@import "./fonts/fonts.css";

body {
	margin: 0;
	padding: 0;
}

div.help_header {
	position: sticky;
	top: 0;
	z-index: 1000;
	height: 50px;
	background-color: #000000;
}

div.help_header div.container {
	max-width: 1120px;
	margin: auto;
}

div.help_header a,
div.help_header a:link,
div.help_header a:hover,
div.help_header a:active,
div.help_header a:visited {
	font-family: 'Audiowide';
	font-size: 32px;
	text-decoration: none;
	color: #f0f0f0;
}

div.help_header img {
	height: 50px;
	vertical-align: middle;
}

div.help_header span {
	vertical-align: middle;
}

div.help_container {
	font-family: 'Lato Regular';
	font-size: 14pt;
	color: #202020;
	max-width: 1100px;
	margin: auto;
	padding: 2em;
}

div.help_container a,
div.help_container a:link,
div.help_container a:active,
div.help_container a:visited {
	text-decoration: none;
	color: #0030A0;
}

div.help_container a:hover {
	color: #0060E0;
}

div.help_container h1 {
	font-size: 140%;
}
div.help_container h2 {
	font-size: 130%;
}
div.help_container h3 {
	font-size: 120%;
}
div.help_container h4 {
	font-size: 110%;
}


